{% extends "base.html" %}
{% load i18n %}
{% load customFilters %}

{% block sidebar %}
{% for category, actionList in actions.items %}
{% if actionList and category|removePrefixNumber == 'Line' %}
{{ category|removePrefixNumber }}:
{% for o in actionList %}
<p><a href="/action/{{ o.slug }}/">{{ o.name }}</a></p>
{% endfor %}<br/>
{% endif %}
{% endfor %}
{% endblock %}

{% block content %}

{% if definesHeader %}<h1>{{header}}</h1>{% endif %}
<p>
<table border="1" cellpadding="10%" cellspacing="0">
	<tr>
		<td><b>Barcode</b></td>
		<td><b>Name</b></td>
		<td><b>Current Quantity</b></td>
		<td><b>Location</b></td>
		<td><b>Strain</b></td>
		<td><b>Sex</b></td>
		<td><b>Actions</b></td>
	</tr>
{% for o in active_fish %}
	<tr>
		<td><a href="/action/viewline/{{ o.barcode }}">{{ o.barcode }}</a></td>
		<td>{{ o.name }}</td>
		<td>{{ o.current_quantity }}</td>
		<td>{{ o.location }}</td>
		<td>{{ o.strain }}</td>
		<td>{{ o.sex }}</td>
		{% if activeOnly or o.active %}
		<td>
			<a href="/action/editline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/editButton.png"></a>
			<a href="/action/splitline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/splitButton.png"></a>
			<a href="/action/addmating"><img src="{{ STATIC_URL }}images/matingButton.png"></a>
			<a href="/action/euthanizeline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/euthanizeButton.png"></a>
		</td>
		{% else %}<td>(Inactive)</td> {% endif %}
	</tr>
{% endfor %}
</table>
</p>
{% endblock %}