{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if definesHeader %}<p><b>{{header}}</b></p>{% endif %}
<form action="/action/{{ action_slug }}/" method="post">
{% csrf_token %}
    {% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% else %}
		<p>
            {{ field.errors }}
			{% if field.help_text != '' %}
			{{ field.help_text }}<br>
			{% endif %}
            {{ field.label_tag }}: {{ field }}
        </p>
		{% endif %}
    {% endfor %}
	{% if definesSubButton %}<p><input name="submit" type="submit" value="{{subButton}}" /></p>
    {% else %}<p><input name="submit" type="submit" value="Submit" /></p>
	{% endif %}
</form>
{% endblock %}
