{% extends "base.html" %}
{% load i18n %}
{% load customFilters %}

{% block content %}
<h1> Items to do </h1>
<p>
<table border="1" cellpadding="10%" cellspacing="0">
	<tr>
		<td><b>Date Added</b></td>
		<td><b>Action</b></td>
		<td><b>User</b></td>
		<td width="30%"><b>Special Instructions</b></td>
		<td><b>Due</b></td>
		<td><b>Action</b></td>
	</tr>
{% for o in todo_table %}
	<tr>
		<td>{{ o.date }}</td>
		<td>{{ o.action }}</td>
		<td>{{ o.who }}</td>
		<td>{{ o.reqd_instructions }}</td>
		<td>
			{% if o.reqd_date|timeuntil == '0 minutes' %}
				{% if "hour" in o.reqd_date|timesince|split_timeuntil or "minute" in o.reqd_date|timesince|split_timeuntil %}
					<font color="red">Today</font>
				{%else%}
					<font color="red">Today!
					<br>{{ o.reqd_date|timesince|split_timeuntil}} overdue</font>
				{%endif%}
			{% else %}
				{% if "day" in o.reqd_date|timeuntil|split_timeuntil %}
					In {{ o.reqd_date|timeuntil|split_timeuntil}}
				{%else%}
					{% if "week" in o.reqd_date|timeuntil|split_timeuntil or "month" in o.reqd_date|timeuntil|split_timeuntil or "year" in o.reqd_date|timeuntil|split_timeuntil %}
						In {{ o.reqd_date|timeuntil|split_timeuntil}}
					{%else%}
						Tomorrow
					{%endif%}
				{%endif%}
			{%endif%}
		</td>
		<td>
			<a href="/action/processitem/{{o.id}}">Process</a>
		</td>
	</tr>
{% endfor %}
</table>
</p>

<hr>

<h1> Items Finished </h1>
<p>
<table border="1" cellpadding="10%" cellspacing="0">
	<tr>
		<td><b>Date Added</b></td>
		<td><b>Action</b></td>
		<td><b>User</b></td>
	</tr>
{% for o in finished_table %}
	<tr>
		<td>{{ o.date }}</td>
		<td>{{ o.action }}</td>
		<td>{{ o.who }}</td>
	</tr>
{% endfor %}
</table>
</p>

{% endblock %}