{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if definesHeader %}<p><b>{{header}}</b></p>{% endif %}
<form action="/action/{{ action_slug }}/" method="post">
{% csrf_token %}
	<p>What type of mating will this be?
	<br><select name="matingType">
		<option value="in">In-Cross</option>
		<option value="out">Out-Cross</option>
	</select><br>
	<p>Scan male line or product barcode.
	<br><select name="typeM">
		<option value="Line">Line</option>
		<option value="Product">Product</option>
	</select> 
	<input type="text" name="barcodeMale" /></p>
	<p>Scan female line or product barcode. (leave blank if doing an in-cross)
	<br><select name="typeF">
		<option value="Line">Line</option>
		<option value="Product">Product</option>
	</select>
	<input type="text" name="barcodeFemale" /></p>
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% else %}
		<p>
            {{ field.errors }}
			{% if field.help_text != '' %}
			{{ field.help_text }}<br>
			{% endif %}
            {{ field.label_tag }}: {{ field }}
        </p>
		{% endif %}
    {% endfor %}
    <p><input name="submit" type="submit" value="Submit" /></p>
</form>
{% endblock %}