* {margin:0px;padding:0px;top:0px;left:0px;}
body{
	text-align: center;
	background-color: #666666;
}
td{
	padding-top:2px;
	padding-bottom:2px;
	padding-right:4px;
	padding-left:4px;
	text-align:center;
}
#central{
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	position: relative;
	width: 896px;
	text-align: left;
	background-color: #FFFFFF;
}
#header{
	background-image: url(images/header.jpg);
	height: 226px;
	width: 896px;
	left: 0px;
	top: 0px;
}
#header a{
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	/*margin-left: 112px;*/
	/*font-family: "Courier New", Courier, mono;*/
	/*margin-top: 35px;*/
	font-family: Verdana;
	position: relative;
	left: 98px;
	top: 154px;
}

.sitename {
	text-align: center;
	width: 109px;
}
#leftside{
	float: left;
}
#leftside h3{
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 0px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #00306f;
	border-right-color: #00306f;
	border-bottom-color: #00306f;
	border-left-color: #00306f;
	width:200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-color: #FFFFFF;
	text-align: center;
	display: block;
	margin-left: 35px;	
	margin-top: 35px;	
}
#content{
	margin-top: 252px;
	position: absolute;
	width: 896px;
	background-color: #FFFFFF;
}
#picture1{
	margin-left: 35px;
	height: 150px;
	width: 200px;
	background-image: url(images/photoofthemonth.jpg);
	margin-top: 63px;
}
#picture2{	
	margin-left: 35px;
	height: 150px;
	width: 200px;
	background-image: url(images/bikeofthemonth.jpg);
	margin-top: 60px;
}
#footer{
	clear: both;
	background-color: #FFFFFF;
	position: relative;
	height: 122px;
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
}
#rightside{
	float: right;
	width: 700px;
	background-color: #FFFFFF;
	margin-right: 15px;
	margin-top: 20px;
	overflow: hidden;
}
#rightside p{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	margin-left: 0px;
	margin-bottom: 20px;
	width: 460px;
}
#rightside h1{
	margin: 10px 0px 10px 0px;
	width: 300px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #033387;
}
#rightside span{
	margin-top: 10px;
	margin-bottom: 4px;
	width: 430px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #649721;
}
#rightside a{color: #666666;}
#footer p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	float: right;
	padding-top: 98px;
	margin-right: 10px;
}
#footer a{color: #fff;}
#footer a:hover{color: #fff;}
#imagepreloader{
	visibility: hidden;
	overflow: hidden;
	height: 0px;
	width: 0px;
}
#jsddm
{	margin: 1px 0px 0px 0px;
	padding: 0}
	
#jsddm li
{	float: left;
	list-style: none;
	background: #20548E;
	font: 12px Tahoma, Arial}

#jsddm li a
{	display: block;
	background: #20548E;
	padding: 5px 12px;
	text-decoration: none;
	text-align: center;
	width: 104px;
	color: #EAFFED;
	white-space: nowrap}

#jsddm li a:hover
{	text-decoration:underline;
	background: #20548E}
	
#jsddm li ul
{	margin: 0;
	padding: 0;
	position: relative;
	z-index: 100;
	visibility: hidden;
	border-top: 1px solid white}

#jsddm li ul li
{	float: none;
	display: inline}

#jsddm li ul li a
{	width: auto;
	background: #20548E}

#jsddm li ul li a:hover
{	text-decoration:underline;
	background: #20548E}