{% extends "base.html" %}
{% load i18n %}
{% load customFilters %}

{% block sidebar %}
{% for category, actionList in actions.items %}
{% if actionList and category|removePrefixNumber == 'Line' %}
{{ category|removePrefixNumber }}:
{% for o in actionList %}
<p><a href="/action/{{ o.slug }}/">{{ o.name }}</a></p>
{% endfor %}<br/>
{% endif %}
{% endfor %}
{% endblock %}

{% block content %}

<h1> Currently active lines </h1>
<p>
<table border="1" cellpadding="10%" cellspacing="0">
	<tr>
		<td><b>Barcode</b></td>
		<td>Name</td>
		<td>Current Quantity</td>
		<td>Location</td>
		<td>Strain</td>
		<td>Sex</td>
		<td>Actions</td>
	</tr>
{% for o in active_fish %}
	<tr>
		<td><a href="/action/viewline/{{ o.barcode }}">{{ o.barcode }}</a></td>
		<td>{{ o.name }}</td>
		<td>{{ o.current_quantity }}</td>
		<td>{{ o.location }}</td>
		<td>{{ o.strain }}</td>
		<td>{{ o.sex }}</td>
		<td>
			<a href="/action/editline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/editButton.png"></a>
			<a href="/action/splitline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/splitButton.png"></a>
			<a href="/action/addmating"><img src="{{ STATIC_URL }}images/matingButton.png"></a>
			<a href="/action/euthinizeline/{{o.barcode}}"><img src="{{ STATIC_URL }}images/euthinizeButton.png"></a>
		</td>
	</tr>
{% endfor %}
</table>
</p>
{% endblock %}